<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="wrapper">
        <div id="sidebar">
            <div class="container">
                @*<div class="white divLink" onclick="window.location = '/Home/Index'">
                    <h3 class="divLink">
                        <span class="glyphicon glyphicon-home"></span> <label class="divLink itemText">Home</label>
                    </h3>
                </div>*@
                <div class="white divLink" onclick="window.location = '/Course/ListOfCourses'">
                    <h3 class="divLink">
                        <span class="glyphicon glyphicon glyphicon-play-circle"></span> <label class="divLink itemText">Courses</label>
                    </h3>
                </div>
                <div class="white divLink" onclick="window.location='/Admin/Index'">
                    <h3 class="divLink">
                        <span class="glyphicon glyphicon-wrench"></span> <label class="divLink itemText">Manage</label>
                    </h3>
                </div>
            </div>
        </div>
        <div id="content">
             @RenderBody()
        </div>
    </div>


    @*<div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p class="greyColor">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/spcontext")
    @Scripts.Render("~/Scripts/Site.js")
    @RenderSection("scripts", required: false)
</body>
</html>
