<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="Wrapper">
        <div id="Sidebar">
            <div class="container">
                <div class="white div-link" onclick="window.location = '/Course/ListOfCourses'">
                    <h3 class="div-link">
                        <span class="glyphicon glyphicon-play-circle"></span> <label class="div-link item-text">Courses</label>
                    </h3>
                </div>
                <div class="white div-link" onclick="window.location = '/Admin/Index'">
                    <h3 class="div-link">
                        <span class="glyphicon glyphicon-wrench"></span> <label class="div-link item-text">Manage</label>
                    </h3>
                </div>
                <div class="white div-link" onclick="window.location='/Test/ResultHistory'">
                    <h3 class="div-link">
                        <span class="glyphicon glyphicon-stats"></span> <label class="div-link item-text">History</label>
                    </h3>
                </div>
            </div>
        </div>
        <div id="Content">
             @RenderBody()
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/spcontext")
    @Scripts.Render("~/Scripts/Site.js")
    @RenderSection("scripts", required: false)
</body>
</html>
