@model E_LearningWeb.ViewModels.HomeViewModel

<div class="images">
    @foreach (var item in Model.ListOfCourses)
    {

        <a href="@Url.Action("Index", "Course", new { courseId=@item.Id })">
            <img class="img-rounded tile " src=@item.ImageUrl>
        </a>
    }
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="page-header">Comments</h2>
            <section class="comment-list">
                <!-- First Comment -->
                @foreach (var item in Model.ListOfPosts)
                {
                    <article class="row">
                        <div class="col-md-2 col-sm-2 hidden-xs">
                            <figure class="thumbnail">
                                <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
                                <figcaption class="text-center">@item.Author</figcaption>
                            </figure>
                        </div>

                        <div class="col-md-10 col-sm-10">
                            <div class="panel panel-default arrow left">
                                <div class="panel-body">
                                    <header class="text-left">
                                        <time class="comment-date" datetime="@item.Created"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>
                                    </header>
                                    <div class="comment-post">
                                        <p>
                                            @item.Body
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </article>
                }
                    @using (Html.BeginForm("Course", "Home", FormMethod.Post, new { role = "form" }))
                    {
                        <div class="form-group row marginTop">
                            <div class="col-sm-10 col-sm-offset-2">
                                @Html.TextBoxFor(x => x.Text, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-offset-2 col-sm-10 marginTOp">
                                <input type="submit" class="btn btn-secondary" value="Add Comment">
                            </div>
                        </div>
                    }
            </section>
        </div>
    </div>
</div>
