@using Microsoft.Ajax.Utilities
@model E_LearningWeb.ViewModels.TestViewModel
<button type="button" class="btn btn-default btn-lg buttonTest marginTop col-lg-12" data-toggle="modal" data-target="#myModal" value="1">C# Collections and Generics</button>
<button type="button" class="btn btn-default btn-lg buttonTest marginTop col-lg-12" data-toggle="modal" data-target="#myModal" value="2">C# Functional Programming</button>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="container">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 id="QuestionText" class="modal-title" style="margin-top: 30px"></h3>
                </div>
                <div class="modal-body">
                    <div class="question">
                        <div class="radio">
                            <h3>
                                <input type="radio" id="answer0" name="optradio" value=0><label class="labelAnswer" for="answer0" title="0"></label>
                            </h3>
                        </div>
                    </div>
                    <div class="question">
                        <div class="radio">
                            <h3>
                                <input type="radio" id="answer1" name="optradio" value=1><label class="labelAnswer" for="answer1" title="1"></label>
                            </h3>
                        </div>
                    </div>
                    <div class="question">
                        <div class="radio">
                            <h3>
                                <input type="radio" id="answer2" name="optradio" value=2><label class="labelAnswer" for="answer2" title="2"></label>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="ConfirmButton2" type="button" class="btn btn-default">Select</button>
                </div>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/bundles/jquery")

<script type='text/javascript'>
    var iterator = 0;
    var correctAnswers = 0;
    var listOfPosts = [];
    var incorectAnswers = [];
    var testId;
    var itemId = 0;
    var selectedAnswer;
    var count = 0;
    $(".buttonTest").click(function () {
        testId = $(this).val();
        if (count % 2 == 1) {
            $(".labelAnswer").removeClass("goodAnswer badAnswer");
            count = 0;
        }
        iterator = 0;
        listOfPosts = [];
        @foreach (var item in Model.ListOfQuestions)
        {

            <text>
        itemId = @item.TestId;
        if (testId == itemId) {
            listOfPosts.push({
                text: "@HttpUtility.JavaScriptStringEncode(item.Text)",
                answers: [
                    "@HttpUtility.JavaScriptStringEncode(item.Answers[0])", "@HttpUtility.JavaScriptStringEncode(item.Answers[1])",
                    "@HttpUtility.JavaScriptStringEncode(item.Answers[2])"
                ],
                correctAnswer: "@item.CorrectAnswer",
                id: @item.Id,
            });
        }
        </text>
        }
        $("#QuestionText").text(listOfPosts[iterator].text);
        $('label[for=answer0]').text(listOfPosts[iterator].answers[0]);
        $('label[for=answer1]').text(listOfPosts[iterator].answers[1]);
        $('label[for=answer2]').text(listOfPosts[iterator].answers[2]);
    });
    $("#ConfirmButton2").click(function () {
        count++;

        if (count % 2 == 0) {
            if (iterator < listOfPosts.length) {
                $(".labelAnswer ").removeClass("goodAnswer badAnswer");
                $("#ConfirmButton2").text("Selected");
                $("#QuestionText").text(listOfPosts[iterator].text);
                $('label[for=answer0]').text(listOfPosts[iterator].answers[0]);
                $('label[for=answer1]').text(listOfPosts[iterator].answers[1]);
                $('label[for=answer2]').text(listOfPosts[iterator].answers[2]);
            } else {
                window.location = "/Test/Result?correctAnswers=" + correctAnswers + "/" + listOfPosts.length+"&incorrectAnswersId=" + incorectAnswers;
            }

        } else {
            selectedAnswer = $('input[type=radio]:checked').val();
            if (selectedAnswer == listOfPosts[iterator].correctAnswer) {
                correctAnswers++;
            } else {
                incorectAnswers.push(listOfPosts[iterator].id, selectedAnswer);
                $('label[title=' + selectedAnswer + ']').addClass("badAnswer");
            }
            $("#ConfirmButton2").text("Next");
            $('label[title=' + listOfPosts[iterator].correctAnswer + ']').addClass("goodAnswer");
            iterator++;
        }


    });
</script>