@model E_LearningWeb.ViewModels.CourseViewModel

    <div class="nav nav-pills nav-stacked col-lg-12" id="ListOfMovies">
        @foreach (var item in Model.ListOfMovies)
        {
            <div class="col-lg-10 movieRow">
                <a href="@Url.Action("Index", "Video", new {videoUrl = @item.VideoUrl})">
                    <h3>@item.Title</h3>
                </a>
            </div>
            <div class="col-lg-1 marginTop ">
                @if ((bool)System.Web.HttpContext.Current.Session["logged"])
                {
                    <span>
                        <button type="button" class="btn btn-default" onclick="location.href = '@Url.Action("UpdateMovie", "Admin", new {id = @item.Id, SPHostUrl = System.Web.HttpContext.Current.Session["SharepointContext"]}))'">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </span>
                }
            </div>
            <div class="col-lg-1 marginTop ">
                @if ((bool) System.Web.HttpContext.Current.Session["logged"])
                {
                    <span>
                        <button type="button" class="btn btn-default" onclick="location.href = '@Url.Action("DeleteMovie", "Admin", new {id = @item.Id, SPHostUrl = System.Web.HttpContext.Current.Session["SharepointContext"]}))'">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                }
            </div>
        }

    </div>
@if ((bool)System.Web.HttpContext.Current.Session["logged"])
{
    <button class="btn btn-primary marginTop" type="button" id="addressSearch"
            onclick="location.href = '@Url.Action("AddMovie", "Admin",
                                              new {id = @Model.CourseId, SPHostUrl = System.Web.HttpContext.Current.Session["SharepointContext"]}))'"
            style="margin-left: 15px">
        <h4> Add new movie </h4>
    </button>
}
