@using E_LearningWeb.Models
@using Microsoft.SharePoint.Client
@model List<Course>

<div class="col-lg-12">
    <h3 style="color: #f2f2f2" class="col-lg-2"> <span>Paths</span></h3>

    <ul class="list-inline" style="color: #f2f2f2">
        <li><h4>All</h4></li>
        <li><h4>Back-End Developer</h4></li>
        <li><h4>Front-End Developer</h4></li>
    </ul>
</div>

<div class="col-lg-12" style="background-color: #181818">
    <div class="marginTop">
        @foreach (var item in Model)
        {
            <div class="col-lg-5 courseDiv">
                <a href="@Url.Action("Index", "Course", new {courseId = @item.Id, courseName = @item.Title})">
                    <img src=@item.ImageUrl alt="">
                    <span class="courseDivHeader">@item.Title</span>
                    <span class="courseDivFooter">@item.NumberOfMovies Movies</span>
                </a>

            </div>
        }
    </div>

</div>
