@model E_LearningWeb.ViewModels.CourseViewModel

@foreach (var item in Model.ListOfMovies)
{

    <a class="col-lg-8 movie-row" href="@Url.Action("Index", "Video", new {videoUrl = @item.VideoUrl})">
        <h3><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>   <span>@item.Title</span></h3>
    </a>
    <div class="col-lg-2 stars">
        <div id="@item.Id" class="my-rating jq-stars"></div>
    </div>
    <div class="col-lg-1 matgin-top  ">
        @if ((bool)System.Web.HttpContext.Current.Session["logged"])
                {
            <span>
                <button type="button" class="btn btn-default" onclick="location.href = '@Url.Action("UpdateMovie", "Admin", new {id = @item.Id})'">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </span>
        }
    </div>
    <div class="col-lg-1 matgin-top  ">
        @if ((bool)System.Web.HttpContext.Current.Session["logged"])
                {
            @Ajax.ActionLink(" ", "DeleteMovie", "Course", new { id = @item.Id, courseId = @item.CourseId }, new AjaxOptions()
       {
           HttpMethod = "POST",
           OnBegin = "onLoadBegin",
           OnSuccess = "onLoadEnd",
           AllowCache = false,
           UpdateTargetId = "TableOfContent"
       },
             new { @class = "glyphicon glyphicon-remove btn btn-default" })
        }
    </div>

}
@if ((bool)System.Web.HttpContext.Current.Session["logged"])
{
    <div class="col-lg-5">
        <button type="button" class="btn btn-default btn-lg matgin-top" data-toggle="modal" data-target="#MyModal">Add movie</button>
    </div>
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/rateit")
<script type='text/javascript'>
    @foreach (var item in Model.ListOfMovies)
    {
        <text>
    $("#@item.Id").starRating({
        initialRating: @item.Rating,
        strokeColor: '#894A00',
        strokeWidth: 10,
        starSize: 25,
        callback: function(currentRating, $el) {
            $.ajax({
                type: "POST",
                url: "/Course/AddVote",
                data: { movieId: @item.Id, rating: currentRating },
                success: function(msg) {
                },
                error: function(e) {
                }
            });
        }
    }); </text>
    }
</script>